
// Body
$body-bg: #f8fafc;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark-gray: #161616;
$black: #000;
$white: #fff;
$getnord-blue: #0080ff;
$getnord-yellow: #ffe401;
$getnord-dark-grey: #272727;
$getnord-light-grey: #f2f3f3;