// Variables
@import 'variables';

// Mixins
@import './abstracts/mixins.sass';

// Old css file
@import 'global/main.css';

// Contact page
@import 'pages/contact/style.sass';

// Compatibility page
@import 'pages/compatibility/style.sass';

// Informational pages
@import 'pages/informational/style.sass';

// Home Page

@import 'pages/home/main.sass';

// Onyx page
@import 'pages/onyx/main.sass';

// Leo page
@import 'pages/leo/main.sass';

// Lock page
@import 'pages/lock/main.sass';

// Track page
@import 'pages/active_track/main.sass';
/***************************************************
    Components
****************************************************/

// footer
@import 'global/footer.sass';

// header
@import 'global/header.sass';

// global
@import 'global/components.sass';

// Custom Changes
@import 'global/style.css';



/******************************************************
    Dependencies
*******************************************************/

// Slick carousel
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 99999999; /* Sit on top */
    left: -100vw;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    transition: all ease .3s
}
.modal.modal--opened {
    left: 0;
    transition: all ease .3s
}
/* Modal Content/Box */
.modal-content {
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px 30px;
    border: 1px solid #888;
    max-width: 450px;
    width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.header__text {
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.modal-body {
    margin-top: 40px;
}

.modal-raw {
    display: flex;
    justify-content: space-between;

}

.modal-text p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 25px;
    line-height: 20px;
}

.modal-text {
    display: flex;
    justify-items: center;
    width: 45%;
}

.modal-image {
    width: 40%;
}

.modal-form {
    margin: 30px 0 10px;
}

.modal-form input {
    width: 100%;
    margin: 0 0 10px;
    height: 50px;
    font-size: 14px;
    padding-left: 10px;
    border: 1px solid #898989;
}

.modal-form input::-webkit-input-placeholder {
    color: #898989;
}

.modal-form input:-ms-input-placeholder {
    color: #898989;
}

.modal-form input::placeholder {
    color: #898989;
}

.modal-form button {
    text-transform: uppercase;
    background-color: #ffe401;
    color: #272727;
    padding: 17px 0;
    display: block;
    width: 103%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
}

.modal-form small {
    font-size: 10px;
    width: 80%;
    margin: 0 auto;
    display: block;
}

.message span {
    display: block;
}

.message-error input {
    border-color: red;
}

.message-success input {
    border-color: green;
}

.message-error span {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.message-success span {
    color: green;
    text-align: center;
    margin-bottom: 10px;
}
.coupon-overlay {
    top: 0;
    position: fixed;
    right: -100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 9999999999999999999999;
    background: rgba(0, 0, 0, 0.4);
    transition: all ease .3s;
    opacity: 0;
}

.coupon-overlay.active {

    right: 0;
    transition: all ease .3s;
    opacity: 1;
}

.coupon-form {
    padding: 20px;
    background: #231f20;
    color: #fff;
    max-width: 500px;
    width: 95%;
}

.body--text h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.7rem;
}

.body--text {
    margin-bottom: 20px;
}

.form--button button {
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: .9rem;
    text-align: center;
    margin: 0 auto 10px;
    display: block;
    padding: 15px 0;
    width: 100%;
    border: 1px solid transparent;
    transition: all ease .3s;
}

.form--button button:hover {
    border: 1px solid #fff;
    transition: all ease .3s;
}

@media ( max-width: 480px ){
    .coupon-form {
        max-width: 300px;
    }
}
@media ( max-width: 480px ) {
    .modal-content {
        max-width: 300px;
    }
    .header__text {
        font-size: 23px;
    }
    .modal-raw {
        align-items: center;
    }
    .modal-form input {
        height: 40px;
    }
    .modal-form button {
        padding: 15px 0;
        font-size: 15px;
    }
    .modal-form small {
        width: 100%;
        text-align: center;
    }
}
