.footer
    color: $white

    h1 
        display: inline-block
        margin: 100px auto 50px auto
        position: relative
        left: 50%
        transform: translateX(-50%)
        text-transform: uppercase
        font-weight: bold
        font-size: 24px
        letter-spacing: 0px

        @include breakpoint(m)
            max-width: 450px
            font-size: 1.3em
            text-align: center
            margin: 1.8em auto 1em auto

    h3 
        display: inline-block
        font-size: 19px
        font-weight: 400
        color: #939393
        text-transform: capitalize
        margin-bottom: 30px
        margin-top: 50px

        @include breakpoint(m)
            font-size: 16px

        @include breakpoint(xs)
            text-align: center
            margin-left: auto
            margin-right: auto
            display: block

    &--gray 
        background-color: $dark-gray
        padding-bottom: 100px

        @include breakpoint(m)
            padding-bottom: 50px

        @include breakpoint(xs)
            padding-bottom: 35px

    &--black 
        background-color: $black
        padding-bottom: 60px

    &__social__links
        display: flex
        justify-content: center
        align-items: flex-start

        @include breakpoint(s)
            width: 95%

        @include breakpoint(xs)
            width: 100%

        a 
            height: 110px 
            width: 110px
            display: flex
            align-items: center
            justify-content: center
            margin: 0px 3px 0px 3px
            color: $white
            border: solid 1px transparent 
            transition: all 0.14s ease-out

            @include breakpoint(s)
                width: 80px
                height: 80px


            @include breakpoint(xs)
                width: 60px
                height: 60px

            .icon
                width: 40px

                @include breakpoint(s)
                    width: 20px

        &__link
            
            &--yt 
                background-color: #dd2c29

                &:hover
                    background-color: transparent 
                    border-color: #dd2c29

                    .icon
                        color: #dd2c29

            &--fb 
                background-color: #3a559f

                &:hover
                    background-color: transparent 
                    border-color: #3a559f

                    .icon
                        color: #3a559f

            &--in 
                background-color: #c536a4

                &:hover
                    background-color: transparent 
                    border-color: #c536a4

                    .icon
                        color: #c536a4

            &--pt 
                background-color: #c8232c

                &:hover
                    background-color: transparent 
                    border-color: #c8232c

                    .icon
                        color: #c8232c

            &--tw
                background-color: #26a6d1

                &:hover
                    background-color: transparent 
                    border-color: #26a6d1

                    .icon
                        color: #26a6d1

    &__info

        &__payments
            display: flex
            flex-direction: row

            @include breakpoint(m)
                display: block

            @include breakpoint(xs)
                position: relative
                left: 50%
                transform: translateX(-50%)
                padding-left: 14vw

            &__payment 
                background-color: #dcdcdc
                border-radius: 4px
                height: 54px
                width: 86px
                display: flex
                justify-content: center
                align-items: center
                margin-right: 22px

                @include breakpoint(m)
                    float: left
                    width: 40%
                    height: 24px
                    padding: 0.8em 0
                    margin-right: 8px
                    margin-bottom: 8px
        
        &__secure
            padding-left: calc(14%)

            @include breakpoint(m)
                padding-left: 2em

            @include breakpoint(s)
                padding-left: 0


            &__braintree
                height: fit-content
                background-color: #dcdcdc
                width: 180px
                height: 54px
                display: flex
                justify-content: center
                align-items: center
                margin-right: 22px
                border-radius: 4px

                @include breakpoint(m)
                    width: 80%
                    max-width: 140px
                    height: 32px
                    padding: 0.625em

                    img
                        width: 80%
                        display: block
                        margin-right: auto
                        margin-left: auto
                        display: block

                @include breakpoint(s)
                    display: block
                    margin-left: auto
                    margin-right: auto

        &__links
            display: flex
            flex-direction: column
            justify-content: flex-start
            margin-top: 50px                

            a 
                color: #939393
                text-transform: uppercase
                font-size: 17px
                font-weight: 400
                line-height: 29px
                transition: all 0.1s ease-in

                @include breakpoint(m)
                    font-size: 16px

                @include breakpoint(s)
                    text-align: center

                &:hover
                    color: $getnord-blue