.page_header
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2)
    .top_menu
        li.dropdown,li.dropdown-2
            position: relative

            &.active
                .dropdown__btn,.dropdown__btn-2
                    p

                        &::after
                            z-index: 1
                            right: -21px

                    &::before
                        content: ''
                        position: absolute
                        z-index: 0
                        top: -25px
                        left: 55%
                        transform: translateX(-50%)
                        height: 80px
                        width: 110%
                        display: block
                        background-color: #f2f3f3

                .dropdown__list,.dropdown__list-2
                    display: flex !important

            .dropdown__btn,.dropdown__btn-2
                p
                    padding: 0
                    font-size: 17px
                    line-height: 23px
                    color: #272727
                    display: inline-block
                    position: relative
                    z-index: 1

                    &::after
                        content: ''
                        display: inline-block
                        position: absolute
                        top: 50%
                        right: -21px
                        transform: translateY(-50%)
                        border-left: 4px solid transparent
                        border-right: 4px solid transparent
                        border-top: 7px solid #272727

                &:hover p
                    color: $getnord-blue

                    &::after
                        border-top: 7px solid $getnord-blue

                &.active
                    p
                        color: $getnord-blue

                    &::before
                        content: ''
                        position: absolute
                        z-index: 1
                        top: -25px
                        left: 50%
                        transform: translateX(-50%)
                        height: 80px
                        width: 110%
                        display: block
                        background-color: #f2f3f3

            .dropdown__list,.dropdown__list-2
                display: none
                flex-direction: column
                position: absolute
                z-index: 1
                width: 200px
                background-color: #f2f3f3
                transform: translateX(-25px)
                margin-top: 32px
                box-shadow: inset 1px 4px 9px -8px

                a
                    padding: 20px 20px
                    color: $getnord-blue
                    background-color: transparent
                    text-transform: capitalize

                    &:hover
                        background-color: $getnord-blue
                        color: $white
                        text-transform: capitalize

                @include breakpoint(xl)
                    position: relative
                    width: 100%
                    -webkit-transform: translateX(0)
                    transform: translateX(0)
                    z-index: 1

                    a
                        text-align: center

@include breakpoint(xl)
    .page_header
        .top_menu
            li.dropdown.active,li.dropdown-2.active
                padding-bottom: 0

                .dropdown__btn,.dropdown__btn-2
                    &::before
                        display: none

                .dropdown__list,.dropdown__list-2
                    margin-top: 10px

                    a:nth-child(2)
                        padding-top: 10px
