.mount_section
    .section_img
        width: 100vw
        position: relative 
        left: 50%
        transform: translateX(-50%)
        
    &--dark 
        background-color: #161616
        color: $white

        p 
            max-width: 900px  
            margin-right: auto
            margin-left: auto

    .section_icons
        display: flex
        flex-direction: row
        justify-content: center
        align-items: stretch
        padding-bottom: 3.750em
        padding-top: 2em

        @include breakpoint(s)
            padding: 1.5em 1em 3em 1em

        span 
            display: flex
            flex-direction: column
            margin: 0px 1em
            align-items: center
            min-width: 9em

            @include breakpoint(s)
                min-width: 7em
                width: 32%

            img 
                margin-bottom: 1.8em
                height: 5em

            p 
                text-align: center
                font-size: 1.250em
                font-weight: 400
                max-width: 10em
                text-transform: uppercase

                @include breakpoint(s)
                    font-size: 1.125em