.scratch_section
    height: 600px
    background: $white
    
    .cols
        display: flex
        flex-direction: row
        align-items: stretch
        height: 100%
    &_col--right
        background: $getnord-dark-grey