.scratch_section
    height: auto
    
    .cols
        display: flex
        flex-direction: row
        align-items: flex-start
        height: fit-content

        @include breakpoint(s)
            flex-direction: column 

        @include breakpoint(xs)
            flex-direction: column

    &_col--right
        position: relative
        color: $white
        width: 50vw
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-end
        align-self: stretch

        @include breakpoint(s)
            width: 100%
            order: 2

        .section_content
            margin-right: 4em
            margin-left: 2em

            @include breakpoint(s)
                margin-right: auto
                margin-left: auto
        
        &::after
            content: ''
            position: absolute
            top: 0
            bottom: 0 
            right: 0
            left: 0
            z-index: -1
            background: $getnord-dark-grey


        .section_heading
            margin: 130px 0 35px 0
            font-size: 55px
            line-height: 60px
            font-weight: bold
            text-transform: uppercase
            text-align: left

            @include breakpoint(m)
                margin: 0.5em 0 0 0
                font-size: 1.500em

            @include breakpoint(s)
                text-align: center

        p 
            max-width: 500px
            font-size: 20px
            line-height: 30px

            @include breakpoint(m)
                font-size: 1em

            @include breakpoint(s)
                font-size: 1em
                text-align: center
                maring: auto
                padding: 0 1em 2em 1em

    .scratch_img 
        width: 50%
        height: auto

        @include breakpoint(s)
            width: 100%
            order: 1