.mount_section-molding

    .section_icons

        span 

            img 
                margin-bottom: 1.8em
                height: 7em

            &.delay4
                img 
                    height: 4.5em
                    margin-bottom: 1.4em