.panel_section
    padding: 40px 0 0
    .section_heading
        span
            @include breakpoint(s)
                font-size: 50px !important
    .cols
        align-items: flex-end
        @include breakpoint(s)
            flex-direction: column-reverse
