.product_section--leo_stores
    .product_section--onyx_stores_list
        justify-content: flex-start
        @include breakpoint(s)
            justify-content: space-between
        flex-wrap: wrap
        .store_cta
            @include breakpoint(s)
                max-width: 200px
                width: 30%
            @include breakpoint(s)
                margin: 5px!important
                max-width: 150px
                width: 45%
                padding: 10px
            &--bol
                margin-top: -25px
.stores_list-nl
    align-items: baseline

