.intro_section--leo
    background-size: cover !important
    @include breakpoint(s)
        min-height: auto
    @include breakpoint(xs)
        min-height: initial

    .section_center
        width: 50%
        text-align: right
        position: absolute
        top: 50%
        transform: translateY(-50%)
        @include breakpoint(s)
            width: 100%
            text-align: center
            position: relative
        @include breakpoint(xs)
            display: none

        p
            font-size: 24px
            line-height: 35px

    .section_content
        padding-top: 12%
        @include breakpoint(xs)
            padding: 0
    .section_form
        @include breakpoint(m)
            display: block
        @include breakpoint(xs)
            display: none

    .section_phone
        position: absolute
        width: 30%
        top: 50%
        right: 0
        transform: translateY(-50%)
        @include breakpoint(s)
            right: 30px

        img
            display: block
            max-height: 75vh
            @include breakpoint(s)
                display: none

