#how_works
    .section_text
        background: #161616
        padding: 5.7rem 0 3rem
        .text__wrapper
            max-width: 60rem
            width: 90%
            margin: 0 auto
        h2
            font-size: 3.5rem
            color: #FFFFFF
            font-weight: 700
            text-align: center
            margin: 0 0 2rem
        p
            margin-bottom: 1.7rem
            color: #FFFFFF
            text-align: center
            font-size: 1.25rem
            line-height: 1.8rem
    .image_section
        img
            width: 100%
