#active-interested
    padding: 7rem 0 6rem
    background: #0080ff
    .interested__wrapper
        max-width: 62rem
        width: 90%
        margin: 0 auto
        h2
            font-size: 3.5rem
            text-transform: uppercase
            color: #FFFFFF
            font-weight: 700
            margin: 0 0 3rem
            text-align: center
        p
            font-size: 1.25rem
            color: #FFFFFF
            line-height: 2rem
            text-align: center
            margin: 0 0 6rem
        .button--yellow
            font-size: 1.5rem
            font-weight: 700
            padding: 1rem 0
            display: block
            text-align: center
            max-width: 460px
            width: 50%
            margin: 0 auto
            background: #ffe401
            border: none
            cursor: pointer
            &:hover
                background-color: #cdb700
